@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Default styles for all screen sizes */
.locateUser__info {
    background-image: url('https://img.freepik.com/free-photo/stormy-night-sky-countryside-social-banner_53876-160173.jpg?w=1380&t=st=1677314883~exp=1677315483~hmac=f12b0d5c5a6072ee564dc5e625fb2e53eee48df115b244d7a3b7a8a64ab58199');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image 0.97s ease-in-out;
    width: 100%;
    min-height: 100vh; /* Set a minimum height for responsiveness */
    position: relative;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: rgb(147, 144, 142);
    display: flex;
    justify-content: center;
}

.Application__details {
    display: flex;
    justify-content: center;
    gap: 3rem;
    max-width: 500px;
    position: absolute;
    margin: 10% auto; /* Center horizontally and adjust top margin */
    padding: 40px;
}

.locateUser__info__clickOperation img {
    cursor: pointer;
    width: 30px;
}

.locateUser__info__clickOperation {
    position: absolute;
    display: flex;
    align-items: flex-end;
    gap: 1rem;
    border: solid;
    top: 100%;
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    border-radius: 0px 0px 5px 5px;
    padding: 10px;
}

/* Media query for screens with a maximum width of 768px (adjust as needed) */
@media (max-width: 768px) {
    .Application__details {
        max-width: 80%; /* Adjust the maximum width for smaller screens */
        margin-top: 20%; /* Adjust the top margin for smaller screens */
        padding: 20px; /* Adjust padding for smaller screens */
    }
}
